<!DOCTYPE html>
<html>
    <head>
        <title>Voting polls</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
			        <a class="navbar-brand" href="/">VotingPolls</a>
			    </div>
              <ul class = "nav navbar-nav navbar-right">
                  <li><a href="/">Home</a></li>
                  
                  <!-- present options for user if logged in / signup/login if there is no user-->
                  <% if(user) { %>
                  
                      <li><a href="/new">New Poll</a></li>
                      <li><a href="/myPolls">My Polls</a></li>
                      <li><a href ="/logout">Logout</a></li>
                      
                  <% } else{ %>  
                  
                      <li><a href="/login">Login</a></li>
                      <li><a href="/signup">Signup</a></li>
                      
                  <% } %>
              </ul>
            </nav>
            <div class="text-center">
                <h1> Current polls</h1>
                <p>Feel free to vote on one of these polls, or create your own!</p>
                <% polls.forEach(function(poll){ %>
                    <div id="poll"> <a href="/poll/<%=poll._id%>"> <%=poll.name%> </a> </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>