<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Voting polls</title>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <!-- angular libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <link rel="stylesheet" href="css/stylesheet.css">
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
        <script src="core.js"></script>
        <ng-include src="'header.ejs'"></ng-include>
    </head>
    <body>
        <ng-include src="'navbar.ejs'" ng-cloak></ng-include>
        <div id="mainArea" ng-cloak>
            <h1> VOTING POLLS</h1>
            <h2> Simple. Quick. Free. </h2>
            <p>Feel free to vote on one of these polls, or create your own!</p>
            <div>
                <% polls.forEach(function(poll){ %>
                <div class="poll">
                    <a href="/poll/<%=poll._id%>"> <%=poll.name%> </a>
                    <hr>
                </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>