<div id="new">
    <form action="/new" method="post">
        <div class="form-group">
            <label>Name: </label>
            <input type="text" class="form-control" name="name">
            <label>Options: </label>
            <textarea class="form-control" rows="4" cols="50" name="options" placeholder="Place your options on different rows."></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit poll !</button>
    </form>
</div>